.dark {
  background-color: #13203b;
}

.glow {
  box-shadow: 0 0 0px rgb(0, 255, 85), 0 0 10px rgb(159, 236, 255);
  /* box-shadow: 0 0 0px rgb(159, 236, 255), 0 0 10px rgb(0, 255, 85); */
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

table td,
table th {
  padding: 8px;
  text-align: center;
}

table th {
  border: none;
  background-color: transparent;
}

table td {
  border: 1px solid #1b3f8e;
}
table tr:nth-child(2) td {
  background-color: #1b0b7f;
  color: #f9f9f9;
  font-weight: bold;
}

table tr:nth-child(even) td {
  background-color: #4186af;
  color: #f9f9f9;
  font-weight: bold;
}

table tr:nth-child(odd) td {
  background-color:  #4679bc;
  color: #f9f9f9;
  font-weight: bold;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
/* rocket lol */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.animate-slide {
  animation: slide 0.5s ease-in-out;
}

/* diamonds */
@keyframes rain {
  to {
    transform: translateY(300%);
  }
}

.rain-diamonds:hover .diamond {
  animation: rain 1s infinite linear;
}