.dark {
  background-color: #13203b;
}

.glow {
  box-shadow: 0 0 0px rgb(0, 255, 85), 0 0 10px rgb(159, 236, 255);
  /* box-shadow: 0 0 0px rgb(159, 236, 255), 0 0 10px rgb(0, 255, 85); */
}
table {
  width: 100%;
}
